@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://img.freepik.com/free-vector/vibrant-fluid-gradient-background-with-curvy-shapes_1017-32108.jpg?semt=ais_hybrid");
  background-repeat: no-repeat;
  background-size: cover;
}
